# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Build
dist/
out/
build/

# Environment variables
.env
.env.*.local

# IDEs e editores
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
logs/
*.log
